.tab {
  // padding: 2rem 0;
  cursor: pointer;
  margin: 2rem 0;
  padding: 0.2rem 0;

  &:hover {
    color: var(--accent-color);
    border-top: 2px solid var(--accent-color);
  }
  &.active {
    color: var(--accent-color);
    border-top: 2px solid var(--accent-color);
  }
}
