.skillBarContainer {
  width: 100%;
  //   max-width: 40rem;
  .outBorder {
    border: 1px solid var(--text-color);
    border-radius: 0.3rem;
    width: 100%;
    .progress {
      padding: 0.5rem 1rem 0.7rem 1.2rem;
      display: flex;
      flex-direction: column;
      //   align-items: center;
      font-weight: 500;
      &.a70 {
        width: 70%;
        background-color: #9c5da5;
      }
      &.a85 {
        width: 85%;
        background-color: #11b0de;
      }
      &.a65 {
        width: 65%;
        background-color: #d67f7f;
      }
      &.a95 {
        width: 95%;
        background-color: #20bc9d;
      }
      &.a90 {
        width: 90%;
        background-color: #bb8a36;
      }
    }
  }
}
