.breakingNewsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;
  gap: 2rem;
  .headingContainerNews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .newsCardsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 8rem;
    justify-content: center;
  }
  .newsCard {
    display: flex;
    flex-direction: column;
    // gap: 1rem;
    padding: none;
    margin: 1rem;
    &:hover img {
      // size: 1.1;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.267);
      min-width: 20rem;
    }
    &:hover .image .dateBox {
      background-color: var(--accent-color);
      text-shadow: 0 0px 4px rgba(0, 0, 0, 0.301);
    }
    &:hover .postText h3 {
      color: var(--accent-color);
      text-shadow: 0 0px 10px rgba(0, 0, 0, 0.096);
    }
    .image {
      position: relative;
      img {
        min-width: 18rem;
        min-height: 16rem;
        background-color: darkgray;
        object-fit: contain;
        border: none;
      }
      .dateBox {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 5rem;
        min-height: 5rem;
        max-height: 5rem;
        max-width: 5rem;
        background-color: var(--third-color);
        color: var(--accent-text-color);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        padding: 0 2rem;
        font-weight: 500;
      }
    }
    .postText {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      min-width: 14rem;
      gap: 0.5rem;
      h3 {
        color: var(--dark-color);
      }
      .postInformation {
        display: flex;
        gap: 1rem;
        p:nth-child(1) {
          border-right: 1px solid black;
          padding-right: 1rem;
        }
      }
    }
  }
}
