.heroContainer {
  display: flex;
  flex-direction: column;
  padding: 6rem 12rem;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--main-color);
  color: var(--accent-text-color);
  span {
    color: var(--accent-color);
  }
  h1 {
    font-size: 3.5rem;
    font-weight: 700;
  }
  h3 {
    font-size: 1.7rem;
    font-weight: 300;
  }
  .heroButtonContainer {
    display: flex;
    margin-top: 6rem;
    gap: 2rem;
  }
  .heroBannerChangebutton {
    position: relative;
    bottom: 1vh;
    right: -35vw;
    transition: 500ms;
    .mainImage {
      min-width: 9rem;
      min-height: 5.5rem;
      background-color: darkgray;
      margin-bottom: 1rem;
    }
    .controlButtonsContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      button {
        all: unset;
        padding: 1rem 1rem 0.8rem 1rem;
        aspect-ratio: 1/1;
        border: none;
      }
      button:nth-child(1) {
        background-color: #3c4140;
        color: var(--text-color);
      }
    }
    button:nth-child(2) {
      background-color: var(--accent-color);
    }
  }
}

@media screen and (max-width: 1024px) {
  .heroContainer .heroBannerChangebutton {
    position: static;
    bottom: none;
    right: none;
    margin-top: 6rem;
  }
}
