.ourServicesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .headingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  .tabsContainer {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    .tabs {
      display: flex;
      gap: 1rem;
      justify-content: center;

      .tab {
        display: flex;
        color: white;
        justify-content: center;
        min-width: 12em;
        background-color: var(--accent-color);
        border: 3px solid darkblue;
        position: relative;
        .triangle {
          display: block;
          position: absolute;
          width: 100px;
          height: 100px;
          z-index: 999;
          bottom: -10;
          left: 50%;
          transform: rotate(45);
          background-color: var(black);
        }
      }
    }
  }
}
