.purchaseNowContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-color);
  gap: 1rem;
  padding: 6rem;
  h1 {
    color: var(--accent-color);
  }
  p {
    color: white;
  }
  button {
    min-width: 10rem;
    padding: 1.3rem 0rem;
    border-top: 4px solid white;
    border-radius: 6px;
    color: var(--accent-text-color);
    font-weight: 800;
    background-color: var(--accent-color);
    margin-top: 4rem;
  }
}
