.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 2rem;
  height: 24rem;
  min-width: 28rem;
  justify-content: center;
  align-items: center;
  flex: 1 1 10rem;
  img {
    max-height: 6rem;
  }
}
.card:nth-of-type(even) {
  flex-shrink: 2;
}
.cardSecondaryColor {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  border-top: 4px solid var(--accent-color);
}
.cardAccentColor {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  border-top: 4px solid var(--accent-text-color);
}
