.featureCardContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  gap: 2rem;
  max-width: 30rem;
  width: 100%;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  flex: 2 2 30rem;
  max-width: 28rem;
  transition: 250ms;
  &:hover {
    transform: scale(1.02);
  }
  .heading {
    display: flex;
    gap: 2rem;
  }
  img {
    max-height: 2rem;
  }
}
