html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 100px;
}

:root {
  --main-color: #3c3c3c;
  --third-color: #203e38;
  --secondary-color: #1c2b33;
  --accent-color: #18cfab;
  --text-color: #959595;
  --accent-text-color: #f1f1f1;
  --light-secondary-color: #2e4a5b;
  --nav-color: #44433e;
  --dark-color: #40474b;
  --special-color: #00cbf6;
}
